{
  "extends": "react-app",
  "rules": {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-console": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}